*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}
.container{
    width: 100%;
    margin: 2rem;
    border: 1px solid #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}