* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calculadora {
    width: 12rem;
    border: 1px solid rgb(18, 17, 17);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora h3 {
    text-align: center;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

button {
    width: 2rem;
    height: 2rem;
    background-color: #c5c5c5;
    border-radius: 0.2rem;
    border-color: #c5c5c5;
}

input {
    border-radius: 0.2rem;
    height: 1.5rem;
    text-align: right;
    margin-top: 1rem;
}